################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/_start-depends.bat
/_configure.bat
/_open-project.bat
/_start-cmake-gui.bat
/cg2sandboxdD.log
/build11
/_open-project11.bat
/cg2sandbox.log
/cg2sandboxd.log
/_run.bat

# Qt Creator User Files
*.txt.user
